body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligner en bas de l'écran */
    height: 100vh;
    background-color: #f0f0ff;
    overflow: hidden; /* Pour éviter le défilement lors des animations */
}

.phone-frame {
    background-color: white;
    border-radius: 20px 20px 0 0; /* Arrondi seulement en haut */
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 90%;
    max-width: 500px; /* Largeur maximale de la boîte */
    margin-bottom: 20px; /* Ajuste cette valeur pour remonter la boîte */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition pour l'animation smooth */
    opacity: 1;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour hover/click */
}

.btn.yes {
    flex-grow: 3; /* Le bouton "Oui" occupe 3 parts */
    background-color: #6A5ACD;
    font-size: 16px;
    padding: 15px 30px;
}

.btn.yes:hover {
    background-color: #5b49c6;
    transform: scale(1.05); /* Agrandir légèrement au survol */
}

.btn.no {
    flex-grow: 1; /* Le bouton "Non" occupe 1 part */
    background-color: #b2b2b2;
    font-size: 14px;
    padding: 15px 15px;
}

.btn.no:hover {
    background-color: #9a9a9a;
    transform: scale(1.05); /* Agrandir légèrement au survol */
}

/* Animation pour cliquer sur le bouton */
.btn:active {
    transform: scale(0.95); /* Réduire légèrement lors du clic */
}

/* Classes pour animation lors de la transition de questios */
.fade-out {
    transform: translateY(20px);
    opacity: 0;
}

.fade-in {
    transform: translateY(-20px);
    opacity: 1;
}
