/* ==============================
   CONFIGURATION VARIABLES
   ============================== */

/* Couleurs */
:root {
    --background-color: #ffffffa0; /* Couleur d'arrière-plan principale */
    --container-color:  #8495f946; /* Couleur de fond du conteneur */
    --shadow-color: #000000;
    --text-color: #1d1d1d; /* Couleur du texte */
    --primary-color: #6b43ff; /* Couleur principale pour les boutons */
    --secondary-color: #5222fd; /* Couleur secondaire pour les survols */
    --footer-bg-color: rgba(241, 241, 241, 0); /* Couleur de fond du footer */
    --logo-size: 48px; /* Taille du logo */
}

/* ==============================
   RESET CSS
   ============================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif; /* Police de caractère par défaut */
}

/* ==============================
   STYLES DU BODY
   ============================== */
body {
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    display: flex;
    align-items: center; /* Centre le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    background-color: var(--background-color); /* Couleur d'arrière-plan */
    flex-direction: column; /* Arrange le contenu de façon verticale */
}

/* ==============================
   STYLES DU HEADER
   ============================== */
.header {
    display: flex;
    justify-content: space-between; /* Espace entre le titre et le bouton */
    align-items: center; /* Centre verticalement */
    width: 100%; /* Prend toute la largeur */
    margin-bottom: 20px; /* Marge en bas */
}

.logout-button {
    background-color: var(--primary-color); /* Utilise la couleur principale pour le bouton */
    color: white; /* Couleur du texte */
    padding: 10px 15px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 8px; /* Coins arrondis */
    text-decoration: none; /* Pas de soulignement */
    cursor: pointer; /* Curseur pointer */
    transition: background-color 0.3s ease; /* Transition pour le survol */
}

.logout-button:hover {
    background-color: var(--secondary-color); /* Couleur au survol */
}

/* ==============================
   STYLES DU LOGO
   ============================== */
.logo {
    position: absolute; /* Positionne le logo */
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: var(--logo-size); /* Utilise la taille configurée */
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #464646; /* Couleur du texte du logo */
}

/* ==============================
   STYLES DU CONTENEUR
   ============================== */
.container {
    width: 440px; /* Largeur fixe du conteneur */
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: var(--shadow-color) 0px 5px 20px 3px; /* Ombre autour du conteneur */
    background: var(--container-color); /* Couleur de fond du conteneur */
}

/* ==============================
   STYLES DU HEADER
   ============================== */
.container h1 {
    font-size: 1.6rem;
    margin-bottom: 20px; /* Marge en bas de l'en-tête */
}

/* ==============================
   STYLES DE LA CONNEXION SOCIALE
   ============================== */
.container .social-login {
    display: flex;
    gap: 16px; /* Espace entre les boutons */
    margin-top: 20px;
}

.container .social-login button {
    padding: 8px;
    width: 100%; /* Occupe toute la largeur */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: #323760; /* Couleur du texte des boutons sociaux */
    border: 1px solid #6667b0; /* Bordure des boutons */
    background: transparent; /* Fond transparent */
    cursor: pointer;
    transition: all 0.3s ease; /* Transition pour les effets au survol */
}

.container .social-login button i {
    font-size: 26px; /* Taille de l'icône dans le bouton */
}

.container .social-login button:hover {
    color: var(--primary-color); /* Couleur du texte au survol */
    border-color: var(--primary-color); /* Bordure au survol */
}

/* ==============================
   STYLES DU DIVISEUR
   ============================== */
.container .divider {
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre les lignes */
}

.container .divider .line {
    height: 1px;
    width: 100%;
    background: var(--text-color); /* Utilise la couleur du texte */
    opacity: 0.2; /* Opacité de la ligne */
    margin: 30px 0 16px;
}

/* ==============================
   STYLES DU FORMULAIRE
   ============================== */
.container form label {
    color: var(--text-color); /* Utilise la couleur du texte */
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block; /* Affiche les labels en bloc */
    margin-top: 12px; /* Marge en haut */
}

.container form .custome-input {
    position: relative; /* Position relative pour l'icône */
}

.container form .custome-input input {
    color: var(--text-color); /* Couleur du texte des champs */
    font-size: 16px;
    font-weight: 500;
    width: 100%; /* Occupe toute la largeur */
    height: 46px; /* Hauteur des champs */
    letter-spacing: 0.03rem;
    border: 1px solid var(--text-color); /* Bordure des champs */
    background: transparent; /* Fond transparent */
    outline: none; /* Pas de contour par défaut */
    border-radius: 8px; /* Coins arrondis */
    text-indent: 20px; /* Indentation du texte */
    margin-top: 6px; /* Marge en haut */
    transition: all 0.3s ease; /* Transition pour les effets au focus */
}

.container form .custome-input input:focus {
    border-color: var(--secondary-color); /* Bordure au focus */
}

.container form .custome-input i {
    position: absolute; /* Positionne l'icône */
    font-size: 28px; /* Taille de l'icône */
    right: 10px; /* Position à droite */
    top: 14px; /* Position en haut */
    transition: all 0.3s ease; /* Transition pour l'effet au focus */
}

.container form .custome-input input:focus + i {
    color: var(--secondary-color); /* Couleur de l'icône au focus */
}

/* ==============================
   STYLES DU BOUTON DE CONNEXION
   ============================== */
.container form .login {
    width: 100%; /* Occupe toute la largeur */
    margin-top: 30px; /* Marge en haut */
    background: var(--primary-color); /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Pas de bordure */
    line-height: 50px; /* Hauteur de ligne */
    font-size: 18px;
    letter-spacing: 0.025em;
    cursor: pointer; /* Curseur pointer au survol */
    font-weight: 800; /* Poids de la police */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Ombre autour du bouton */
    transition: all 0.3s ease; /* Transition pour les effets au survol */
}

.container form .login:hover {
    background: var(--secondary-color); /* Couleur de fond au survol */
}

/* ==============================
   STYLES DES LIENS
   ============================== */
.container .links {
    display: flex;
    justify-content: space-between; /* Espace entre les liens */
    margin-top: 30px; /* Marge en haut */
}

.container .links a {
    color: var(--primary-color); /* Couleur du texte des liens */
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none; /* Pas de soulignement par défaut */
    text-underline-offset: 6px; /* Décalage du soulignement */
    text-decoration-color: var(--primary-color); /* Couleur du soulignement */
}

.container .links a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

/* ==============================
   STYLES DES BOUTONS DE LA PAGE D'ACCUEIL
   ============================== */
.buttons {
    display: flex; /* Affiche les boutons en ligne */
    justify-content: space-between; /* Espace entre les boutons */
    margin-top: 20px; /* Marge en haut */
}

.button-box {
    flex: 1; /* Prend une proportion égale de l'espace disponible */
    margin: 0 10px; /* Marge entre les boutons */
}

.yes-box {
    background-color: rgba(133, 129, 129, 0.8); /* Blanc transparent */
    border-radius: 8px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    text-align: center; /* Centre le texte */
}

.no-box {
    background-color: rgba(107, 67, 255, 0.8); /* Violet transparent */
    border-radius: 8px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    text-align: center; /* Centre le texte */
}

.btn {
    display: block; /* Affiche le bouton comme un bloc */
    padding: 12px 0; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 8px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    text-decoration: none; /* Pas de soulignement */
    color: white; /* Couleur du texte pour les boutons */
    transition: background-color 0.3s ease; /* Transition pour le changement de couleur */
}

.btn:hover {
    filter: brightness(0.9); /* Assombrit le bouton au survol */
}

/* ==============================
   STYLES DU FOOTER
   ============================== */
.footer {
    text-align: center; /* Centre le texte du footer */
    padding: 20px; /* Espacement autour du texte */
    background-color: var(--footer-bg-color); /* Couleur de fond du footer */
}
