<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur RdVous</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='img/52904.png') }}" alt="Logo">
        </a>
        <a href="/">Agendaide</a>
    </div>
    <div class="container">
        <div class="phone-frame" id="question-box">
            <h1 id="question-title">Veux-tu prendre RDV ?</h1>
            <p id="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="buttons">
                <div class="button-box yes-box">
                    <a href="#" class="btn yes" onclick="showNextQuestion()">Oui</a>
                </div>
                <div class="button-box no-box">
                    <a href="/" class="btn no">Non</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>© 2024 Holberteub Inc. All rights reserved.</p>
    </footer>

    <script>
        function showNextQuestion() {
            const questionBox = document.getElementById('question-box');
            questionBox.classList.add('fade-out');

            setTimeout(() => {
                document.getElementById('question-title').textContent = "Est-tu deja client ?";
                document.getElementById('question-text').textContent = "Choisissez parmi les options ci-dessous.";

                const buttonsDiv = document.querySelector('.buttons');
                buttonsDiv.innerHTML = `
                    <div class="button-box yes-box">
                        <a href="login" class="btn yes">Oui</a>
                    </div>
                    <div class="button-box no-box">
                        <a href="register" class="btn no">Non</a>
                    </div>
                `;

                questionBox.classList.remove('fade-out');
                questionBox.classList.add('fade-in');
            }, 500);
        }
    </script>
</body>
</html>
