<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur RdVous</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

</head>
<body>
    <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='img/52904.png') }}" alt="Logo">
        </a>
        <a href="/">Agendaide</a>
    </div>

    <div class="container">
        <div class="phone-frame" id="question-box">
            <h1 id="question-title">Bienvenue sur Agendaide</h1>
            <p id="question-text">Que souhaitez-vous faire ?</p>
            <div class="buttons">
                <div class="button-box">
                    <a href="login" class="btn yes">
                        <i class="fas fa-sign-in-alt"></i> Se connecter
                    </a>
                </div>
                <div class="button-box">
                    <a href="register" class="btn no">
                        <i class="fas fa-user-plus"></i> S'inscrire
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>© 2024 Holberton Inc. All rights reserved.</p>
    </footer>
</body>
</html>